{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":12,"column":80},"end":{"row":12,"column":81},"action":"insert","lines":["s"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":12,"column":81},"end":{"row":12,"column":81},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1664900127936,"hash":"0c6cd3313478065087b177b84c41355b10203c0e"}